@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

        body {
            font-family: 'Montserrat', sans-serif;
            background-color: #02182b;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            padding: 24px;
        }

        .container {
            width: 100%;
            max-width: 960px;
            background-color: #ffffff;
            border-radius: 16px;
            box-shadow: var(--shadow);
            overflow: hidden;
            padding: 48px;
        }

        .about-me {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            color:  white;
            margin-bottom: 48px;
            text-align: center;
        }
        

         .profile-pic {
            width: 192px;
            height: 192px;
            border-radius: 50%;
            background-color: #e7e8eb;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            overflow: hidden;
        }
        
        .profile-pic img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 50%;
        }

        .about-text h1 {
            font-size: 3rem;
            font-weight: 800;
            color:  #c0d4f4;
            margin-bottom: 8px;
        }

        .about-text h2 {
            font-size: 1.25rem;
            font-weight: 700;
            color:  #b3cffd;
            margin-bottom: 4px;
        }

        .about-text p {
            line-height: 1.625;
            margin-bottom: 24px;
        }
        
        .about-text .sub-text {
            color: #aec8ed;
        }

        .skills {
            text-align: center;
            color:#a2c9ff;
        }

        
        .skills-list {
            list-style: none;
            padding: 0;
            margin: 16px 0 24px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
        }
      

        .skills-list li {
            display: flex;
            align-items: center;
            gap: 8px;
            color: #e5eefb;
        }

        .skills-list li span {
            color: green;
            font-size: 1.5rem;
        }
        
        hr {
            border: 0;
            border-top: 1px solid #e5e7eb;
            margin: 32px 0;
        }