@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(89 162 231);;
  color:rgb(89 162 231);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  width: 100%;
  max-width: 760px;
  background-color: #02182b;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius:20px ;
  padding: 40px;
}

.content {
  width: 100%;
  max-width: 600px;
}

h1{
  font-size: 3rem;
  font-weight: 850;
  margin-bottom: 10px;
}

p{
  margin-bottom: 25px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.contact-form label {
  font-size: 1.3rem;
}

.contact-form input, textarea{
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
}

.contact-form input:focus,
textarea:focus{
  outline: none;
  border-color: rgb(0, 0, 255);
}

.contact-form textarea {
  resize: vertical;
  }

.contact-form button{
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1.3rem;
  align-self: flex-start;
  border-radius: 15px;
  border:none;
  background-color:rgb(0, 132, 255);
  color: #030d1f;
}

.social-links{
  margin: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-links a{
  color: rgb(165, 164, 164);
  font-size: 1.5rem;
}