@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding : 0;
  margin : 0;
  box-sizing: border-box;
}
body{
  background-color: #02182b;
  color: white;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: crimson;
}
nav ul{
  display:flex;
  justify-content: center;
}
nav ul li{
  list-style: none;
  margin: 0 25px;
}
nav ul li a{
  text-decoration: none;
  color: #02182b;
}
nav ul li a:hover{
  text-decoration: underline;
}
.left{
  font-size: 1.5rem;
}
.firstSection{
  display:flex;
  justify-content: space-around;
  margin: 140px 0;
  align-items: center;
}
.firstSection > div{
 width:30%;
}
.leftSection{
  font-size: 3rem;
}
.rightSection img{
  width: 80%;
  border-radius: 50%;
  border: 5px solid crimson;
}
.name,.role{
  color: rgb(255, 255, 255);;
}
#element{
    color:  rgb(255, 255, 255);
}
.secondSection{
  max-width: 80vw;
  margin:10px 84px;
  
}
main hr{
  border: 0;
  background-color : crimson;
  height : 1.2px;
  margin: 60px 84px; 
}
main h1{
  font-size: 2rem;
  color: crimson;
}
.text{
  color: rgb(255, 246, 246);
  

}
.thirdSection{
  height: 300px;
}
.box img{
  width: 100%;
}
.box p{
    font-size: 15px;
    font-weight:600;
}
.skills{
  display: flex;
  justify-content: space-around;
  margin-top: 33px;
  flex-wrap: wrap;
  align-items:end;
}
.box{
  text-align: center;
  color: rgb(200, 200, 200);
  max-width: 80px;
}